# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.WebApplication.iml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Intellimatica\Aqua\WebApplication\.idea\.idea.WebApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
